#card--last-post {
  width: 70% !important;
}

.card__img-container--badge-container {
  position: absolute;
  top: 0px;
  right: 0px;
  background: linear-gradient(rgb(75, 15, 15) 0%, rgb(236, 50, 50) 95%);
  display: flex;
  gap: 4px;
  padding: 3px 5px;
  padding-right: 8px;
  border-radius: 0 0 0 12px;
  color: var(--text-light-color);
}

.card__card-content {
  /* background:url(../../../assets/images.jpg) center/cover !important ; */
  background: linear-gradient(rgba(255, 255, 255, 0.768)),
    url(../../../assets/Gradient\ galaxy\ background\ 10.jpg) center/cover !important ;
  background-size: 130% !important;
  min-height: 100%;
  /* background-position: 2000px 1000px !important; */
  /* box-shadow: var(--card-content-inset-box-shadow) */
}

.card__card-content--row-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3px;
  margin: 0 24px;
}

#card__card-content--last-post {
  background: rgb(251, 252, 245) !important;
  /* box-shadow: none !important; */
}

.card__card-content--lable {
  font-weight: var(--card-font-weight) !important;
  color: var(--text-mid-dark-color);
  font-size: var(--card-font-size) !important;
}

.card__card-content--lable-title {
  font-weight: var(--card-title-font-weight) !important;
  color: var(--text-dark-color);
  font-size: var(--card-title-font-size) !important;
}
