.navbar{
  background: var(--primary-background-linear) !important;
  width: 100vw;
  height: 12vh;
  position: fixed;
  z-index: 1000;
  transition: all 0.2s linear;
}
.navbar:hover{
  filter: contrast(140%) drop-shadow(0 0 19px black);
}

.navbar__container{
  height: inherit !important;
  
}
ul li:hover {
  text-decoration: underline;
  text-decoration-color: aliceblue;
  font-weight: 700;
}